<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>角色管理模块</title>
    <script src="/lib/jquery/jquery-3.2.1.js"></script>
    <script src="/lib/jquery/jquery.md5.js"></script>
    <link rel="stylesheet" href="/css/roleMgt.css" media="all">
</head>
<body>
    <div class="kit-table">
        <form class="layui-form" lay-filter="kit-search-form">
            <div class="kit-table-header">
                <div class="kit-search-btns">
                    <a href="javascript:;" data-action="add" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe608;</i> 新增</a>
                    <a href="javascript:;" data-action="del-bulk" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon">&#xe640;</i> 批量删除</a>
                </div>
                <div class="kit-search-inputs">
                    <div class="kit-search-keyword">
                        <input type="text" class="layui-input" name="keyword" placeholder="搜索关键字.." />
                        <button lay-submit lay-filter="subSearch"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                    <div class="kit-search-more" id="kit-search-more">更多筛选<i class="layui-icon">&#xe61a;</i></div>
                </div>
            </div>
            <div class="kit-search-mored layui-anim layui-anim-upbit" id="kit-search-mored">
                <div class="kit-search-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label">输入框</label>
                        <div class="layui-input-block">
                            <input type="text" name="roleName" placeholder="请输入角色名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">输入框</label>
                        <div class="layui-input-block">
                            <input type="text" name="roleDescription" placeholder="请输入描述" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">修改的时间范围</label>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="gmtCreate_min" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" id="gmtCreate_min">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" name="gmtCreate_max" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" id="gmtCreate_max">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kit-search-footer">
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary kit-btn">重置</button>
                    <button lay-submit lay-filter="subSearch" class="layui-btn layui-btn-sm kit-btn">确定</button>
                </div>
            </div>
        </form>
        <div class="kit-table-body">
            <table id="demo_role" lay-filter="demo_role"></table>
            <script type="text/html" id="rBarDemo">
                <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>

    <script type="text/html" id="edit-tpl-role">
        <div style="margin:10px">
            <form class="layui-form" action="" lay-filter="form-edit">
                <input type="hidden" name="xId" value="{{d.role.xId}}" />
                <div class="layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleName" required lay-verify="" value="{{d.role.roleName}}" placeholder="请输入角色名称" autocomplete="off" class="layui-input" {{d.disabled}}>
                    </div>
                </div>
                <div class="layui-form-item" id="inp-roleDescription">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="roleDescription" required lay-verify="" value="{{d.role.roleDescription}}" placeholder="请输入描述" autocomplete="off" class="layui-input"  {{d.disabled}}>
                    </div>
                </div>
                <div class="layui-form-item" style="display:none;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="roleFormEdit" {{d.disabled}}>立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary" {{d.disabled}}>重置</button>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script>
        var getListUrl = '/xqsrd/role/getList';
        var addUrl = "/xqsrd/role/add";
        var updUrl = "/xqsrd/role/upd";
        var delUrl = "/xqsrd/role/del";
        var delBatchUrl = "/xqsrd/role/delBatch";
        var staticData = {
            parentMenuList:[]
            };
        layui.use(['table','laydate'], function() {
            var table = layui.table,
                $ = layui.jquery,
                layer = layui.layer,
                form = layui.form,
                laydate = layui.laydate,
                laytpl = layui.laytpl;
            var tableIns = table.render({
                elem: '#demo_role',
                height: 'full-135', //容器高度
                // url: 'datas/userMgt.json',
                url: getListUrl,
                method:'POST',
                //headers: {'Content-Type':'application/json;charset=UTF-8'},
                contentType:'application/json',
                page: true,
                id: 'demo',
                cols: [
                    [{
                        checkbox: true,
                        fixed: true
                    }, {
                        field: 'roleName',
                        title: '角色名',
                        width: 120
                    }, {
                        field: 'roleDescription',
                        title: '描述',
                        width: 120
                    }, {
                        field: 'gmtCreate',
                        title: '创建时间',
                        width: 160
                    }, {
                        fixed: 'right',
                        title: '操作',
                        width: 150,
                        align: 'center',
                        toolbar: '#rBarDemo'
                    }]
                ],
                done: function(res, curr, count) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    console.log(res);
                    //得到当前页码
                    console.log(curr);
                    //得到数据总量
                    console.log(count);
                },
                loading: true,
                //method: 'post'
            });
            // 渲染2个时间组件,前一天和当天
            var beforeDate=new Date();
            beforeDate.setDate(beforeDate.getDate()-1);
            laydate.render({
                elem: '#gmtCreate_min'
                ,value: beforeDate
                ,isInitValue: false //是否允许填充初始值，默认为 true
                ,done: function(value, date, endDate){
                    console.log(value); //得到日期生成的值，如：2017-08-18
                    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                }
            });
            laydate.render({
                elem: '#gmtCreate_max'
                ,value: new Date()
                ,isInitValue: false //是否允许填充初始值，默认为 true
                ,done: function(value, date, endDate){
                    console.log(value); //得到日期生成的值，如：2017-08-18
                    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                    console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
                }
            });
            //监听搜索表单提交
            form.on('submit(subSearch)', function(data) {
                console.log(data.field);
                layer.msg(JSON.stringify(data.field));
                //带条件查询
                tableIns.reload({
                    where: data.field
                });
                // 关闭显示的查询框
                $('#kit-search-mored').hide();
                return false;
            });
            // 显示UI
            function openUIFunc(html) {
                layer.open({
                    type: 1,
                    title: '表单',
                    content: html,
                    area: ['600px', '400px'],
                    btn: ['提交', '重置', '取消'],
                    yes: function(index, layero) {
                        editIndex = index;
                        $('form[lay-filter="form-edit"]').find('button[lay-submit]').click();
                    },
                    btn2: function(index, layero) {
                        $('form[lay-filter="form-edit"]').find('button[type="reset"]').click();
                        return false;
                    },
                    success: function() {
                        form.render(null, 'form-edit');
                    }
                });
            };

            //监听工具条
            table.on('tool(demo_role)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                debugger;
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                actionType = layEvent;
                if (layEvent === 'detail') { //查看
                    console.log(table.checkStatus('demo'));
                    //do somehing
                    var d = {
                        disabled:"disabled",
                        role: data
                    };
                    //do something
                    laytpl($('#edit-tpl-role').html()).render(d, openUIFunc);
                } else if (layEvent === 'del') { //删除
                    layer.confirm('真的删除行么', function(index) {
                        obj.del(); //删除对应行（tr）的DOM结构
                        layer.close(index);
                        //向服务端发送删除指令
                        delRole(delUrl,data);
                    });
                } else if (layEvent === 'edit') { //编辑
                    var d = {
                        role: data
                    };
                    //do something
                    laytpl($('#edit-tpl-role').html()).render(d, openUIFunc);
                    // 显示密码框
                    //$('#inp-password').show();
                    //同步更新缓存对应的值
                    // obj.update({
                    //     rolename: '123',
                    //     title: 'xxx'
                    // });
                }
            });            
            form.render(null, 'kit-search-form');
            $('#kit-search-more').on('click', function() {
                $('.kit-search-mored').toggle();
            });
            // 编辑的条目位置
            var editIndex;
            // 编辑的类型
            var actionType;
            form.on('submit(roleFormEdit)', function(data) {
                var subUrl = addUrl;
                console.log(actionType);
                // 判断是否为edit事件，默认为add
                if(actionType === "edit"){
                    subUrl = updUrl;
                }
                // 对密码加密
                //data.field.password = $.md5(data.field.password);

                // 提交数据
                $.ajax({
                    url:subUrl,
                    type: "POST",
                    data:JSON.stringify(data.field),
                    contentType: "application/json",
                    dataType: "json",
                    error: function(xhr, status, thrown) {
                        layui.hint().error('Navbar error:AJAX请求出错.' + thrown);
                    },
                    success: function(res) {
                        //得到数据
                        console.log(res);
                        console.log(res.length);
                        //带条件查询
                        tableIns.reload();
                    }
                });
                // layer.msg('roleFormEdit');
                // layer.alert(JSON.stringify(data.field), {
                //     title: '最终的提交信息'
                // })
                editIndex && layer.close(editIndex); //关闭弹出层
                return false;
            });
            $('.kit-search-btns').children('a').off('click').on('click', function() {
                var $that = $(this),
                    action = $that.data('action');
                    actionType = action;
                switch (action) {
                    case 'add':
                        var d = {
                            role: {
                                roleName: '',
                                roleDescription: ''
                            }
                        };
                        //渲染
                        laytpl($('#edit-tpl-role').html()).render(d,openUIFunc);
                        // 显示密码框
                        //$('#inp-password').show();

                        break;
                    case 'del-bulk':
                        var d = table.checkStatus('demo');
                        if (d.data.length === 0) {
                            layer.msg('请选择要删除的数据');
                            return;
                        }
                        var data = d.data,
                            names = [],
                            ids = [];
                            // ids = [];
                        layui.each(data, function(index, item) {
                            console.log(item);
                            names.push(item.roleName);
                            ids.push(item.xId);
                        });
                        layer.msg(names.join(','));
                        console.log(ids.join(','));
                        //向服务端发送删除指令
                        delRole(delUrl,{'xIds':ids});
                        break;
                }
            });
            // 删除的请求
            function delRole(delUrl,delData) {
                // 提交数据
                $.ajax({
                    url:delUrl,
                    type: "POST",
                    data:JSON.stringify(delData),
                    contentType: "application/json",
                    dataType: "json",
                    error: function(xhr, status, thrown) {
                        layui.hint().error('Navbar error:AJAX请求出错.' + thrown);
                    },
                    success: function(res) {
                        //得到数据
                        console.log(res);
                        console.log(res.length);
                        //带条件查询
                        tableIns.reload();
                    }
                });
            };
        });
    </script>
</body>

</html>